<div class="container">
<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red; font-size: small; font-style: italic;">
      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div>
          <%= form.label :profile_image, style: "display: block" %>
          <%= form.file_field :profile_image  ,class: 'border-0 btn-outline'%>
      </div>

      <div class="col-6 mt-3 ">
          <%= form.label :name, style: "display: block"  %>
          <%= form.text_field :name %>
      </div>

      <div class='col-6 mt-3'>
          <%= form.label :phone_no, style: "display: block" %>
          <%= form.text_field :phone_no  %>
      </div>
      
      <div class='col-6 mt-3 '>
          <%= form.label 'Doctor ', style: "display: block" %>
          <%= form.select :user_id, options_from_collection_for_select(User.where(:role=>1), "id", "full_name") , :class=> 'p-2' %>
      </div>

      <div class='col-6 mt-3 '>
          <%= form.label :age, style: "display: block" %>
          <%= form.number_field :age %>
      </div>
      
      <div class='col-6 mt-3'>
          <%= form.label :appointment_date, style: "display: block" %>
          <%= form.date_field :appointment_date %>
      </div>

      <div class='col-6 mt-3 d-none'>
      <%= form.label :receptionist_id, style: "display: block" %>
      <%= form.number_field :receptionist_id , :value=> current_user.id  %>
  </div>
      
      </div>
      
      <div class='col d-flex justify-content-end'>
         <%= form.submit "Submit" , :class => 'custom_grey_button mt-3 p-2 d-flex justify-content-center ' %>
      </div>
  </div>
<% end %>
